*{
    box-sizing: border-box;
    margin: 0;
}

Body{
    background: linear-gradient(189.96deg, #005796 0%, #589AB6 92.53%);
	margin: 0;
}

img{
    width: 100%;
}

header{
    display: flex;
	margin:  0 200px 0 200px;
}
main{
	margin:  0 200px 0 200px;
}

b{
    color: #FFBA6C ;
}

h1{
    font-family: 'Oswald';
    font-size: 65px;
    line-height: 1.5;
}
h2{
    font-family: 'Oswald';
    font-size: 48px;
    margin: 270px 0 100px 0;
    text-align: center;
}
p,a,input{
	font-family: 'Open Sans',sans-serif;
}
h1,h2,h3,h4{
	font-family: 'Oswald';

}

.logo_img{
    height: 50px;
    width: 50px;

}

.header-nav{
    display: flex;
    margin: auto auto auto  auto;
}

.nav-a{
    margin: auto 60px auto 60px;
    color: white;

}

.button1{
    height: 30px;
    width: 100px;
    margin: auto 0 auto 70px;
    color: white;
    background-color: #0057FF;
    border: #0057FF;
    box-shadow: 4px 4px 9px -1px rgba(169, 58, 255, 0.73);
    border-radius: 15px;
}

.page1{
    display: flex;
    margin: 210px 0 0 0;
    color: white;
}

.page1_h1{
    width: 620px;
    height: 180px;
    margin-bottom: 20px;
}
.page1_p{
    width: 620px;
    height: 130px;
    
}

.page1_p{
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    line-height: 1.3;
}
.shadow{
    background: rgba(255, 186, 108, 0.69);
    filter: blur(156px);
}

.button2{
    height: 50px;
    width: 170px;
    margin: 0 0 0 0;
    color: white;
    background: #FFBA6C;
    border: #FFBA6C;
    box-shadow: 0px 0px 8px 9px rgba(255, 186, 108, 0.25);
    border-radius: 35px;
}
.page2{
    color: white;
}

.page2-table{
    display: flex;
}

.page2_box{
    width: 320px;
    height: 545px;
    background: rgba(255, 255, 255, 0.26);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(14px);   
    border-radius: 30px;
    margin: auto auto auto auto;
}

.page2__box_h3{
    text-align: center;
    margin: 40px 30px 30px 30px;
    font-family: 'Open Sans';
    font-size: 22px;
}

.page2__box_p{
    margin: 0 30px 0 30px;
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 1.5;
    text-indent:  20px;
    text-align: justify;
}

#margin_button{
    margin: 60px auto auto 70px;
}


.slider{
	min-height: 100vh;
	display: flex;
}

.blog-slider {
	width: 95%;
	position: relative;
	max-width: 800px;
	margin: auto;
	background: rgba(255, 255, 255, 0.26);
	box-shadow: 0px 14px 80px rgba(34,35,58,0.2);
	padding: 25px;
	border-radius: 25px;
	height: 400px;
	transition: all 0.3s;
}

.blog-slider__item {
	display: flex;
	align-items: center;
}

.blog-slider__item.swiper-slide-active .blog-slider__img img{
	opacity: 1;
	transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *{
	opacity: 1;
	transform: none;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *{
	opacity: 1;
	transform: none;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1){
	transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2){
	transition-delay: 0.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3){
	transition-delay: 0.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4){
	transition-delay: 0.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5){
	transition-delay: 0.7s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6){
	transition-delay: 0.8s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7){
	transition-delay: 0.9s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8){
	transition-delay: 1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9){
	transition-delay: 1.1s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10){
	transition-delay: 1.2s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11){
	transition-delay: 1.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12){
	transition-delay: 1.4s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13){
	transition-delay: 1.5s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14){
	transition-delay: 1.6s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15){
	transition-delay: 1.7s;
}

.blog-slider__img {
	width: 300px;
	flex-shrink: 0;
	height: 300px;
	background: linear-gradient(189.96deg, #005796 0%, #589AB6 92.53%);
	box-shadow: 4px 13px 30px 1px rgba(123, 160, 91, 0.5);
	border-radius: 20px;
	transform: translateX(-80px);
	overflow: hidden;
}

	.blog-slider__img:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(189.96deg, #005796 0%, #589AB6 92.53%);
	border-radius: 20px;
	opacity: 0.1;
	}

.blog-slider__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	opacity: 0;
	border-radius: 20px;
	transition: all 0.3s;
}

.blog-slider__content {
	padding-right: 25px;
}

.blog-slider__content > * {
	opacity: 0;
	transform: translateY(25px);
	transition: all 0.4s;
}

.blog-slider__title {
    font-family: 'Oswald';
	font-size: 30px;
	font-weight: 700;
	color: white;
	margin-bottom: 20px;
}

.blog-slider__text {
    font: 'Open Sans',sans-serif;
	color: white;
	margin-bottom: 30px;
	line-height: 1.5em;
    font-size: 22px
}

.blog-slider__button {
	display: inline-flex;
	background: linear-gradient(189.96deg, #005796 0%, #589AB6 92.53%);
	padding: 15px 35px;
	border-radius: 50px;
	color: white;
	border: 1px  #005796 ;
	box-shadow: 0px 14px 80px rgba(123,160,91,0.4);
	text-decoration: none;
	font-weight: 500;
	justify-content: center;
	text-align: center;
	letter-spacing: 1px;
}

.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-faction {
	bottom: 10px;
	left: 0;
	width: 100%;
}

.blog-slider__pagination {
	position: absolute;
	z-index: 21;
	right: 20px;
	width: 11px !important;
	text-align: center;
	left: auto !important;
	top:50%;
	bottom: auto !important;
	transform: translateY(-50%);
}

.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 8px 0;
}

.blog-slider__pagination .swiper-pagination-bullet {
	width: 11px;
	height: 11px;
	display: block;
	border-radius: 10px;
	background: #062744;
	opacity: 0.2;
	transition: all 0.3s;
}

.blog-slider__pagination .swiper-pagination-bullet-active {
	opacity: 1;
	background: #0057FF;
	height: 30px;
	box-shadow: 0px 0px 20px rgba(252,56,56,0.3);
}
	a,button{
		text-decoration: none;
		color: white;
		filter: drop-shadow(0px -1px 15px rgba(204, 141, 48, 0.25));
	}
 	button:active{
		box-shadow: inset 2px 2px 18px rgba(0, 0, 0, 0.64);
	}
 	button:hover{
		filter: drop-shadow(0px 0px 14px rgba(255, 217, 160, 0.25));
	}
	button:focus{
		text-decoration: dashed;
	}
	footer{
		background-color: #303030;
		padding: 0 0 20px 0;
		font-family: 'Open Sans',sans-serif;
		font-size: 14px;
	  }
	  .container{
		color: white;
		margin:  0 200px 0 200px;
	  }
	  .footer-content{
		display: flex;
	  }
	  .social-icons{
		width: 80px;
		height: 100px;
	  }
	  
	  .footer-column{
	  margin: 30px auto 0 auto;	
	  }
	  .fot{
	  margin: 0 20px 0 20px;
	  }
	  .footer-bottom{
		text-align: center;
	  }

