*{
    box-sizing: border-box;
    margin: 0;
}

Body{
    background: linear-gradient(189.96deg, #005796 0%, #589AB6 92.53%);
}

img{
    width: 100%;
}

header{
    display: flex;
    margin:  0 200px 0 200px;

}
main{
    margin:  0 200px 0 200px;
}

b{
    color: #FFBA6C ;
}

h1{
    font-family: 'Oswald';
    font-size: 60px;
    line-height: 1.5;
    text-align: center;
    margin: 50px 0 50px 0;
}
h2{
    font-family: 'Oswald';
    font-size: 32px;
    margin: 20px 0 20px 0;
    text-align: center;
}
p,a,input{
	font-family: 'Open Sans',sans-serif;
}
h1,h2,h3,h4{
	font-family: 'Oswald';

}

.logo_img{
    height: 50px;
    width: 50px;

}

.header-nav{
    display: flex;
    margin: auto auto auto  auto;
}

.nav-a{
    margin: auto 60px auto 60px;
    color: white;

}


.page1{
    margin: 0 0 0 0;
    color: white;
}
form{
    display: block;
    border-radius: 20px;
    width: 300px;
    height: 300px ;
    margin: 120px auto 200px auto;
    background-color: #0057FF;
}


.shadow{
    background: rgba(255, 186, 108, 0.69);
    filter: blur(156px);
}

.button2{
    height: 40px;
    width: 110px;
    margin: 0 0 0 0;
    color: white;
    background: #FFBA6C;
    border: #FFBA6C;
    box-shadow: 0px 0px 8px 9px rgba(255, 186, 108, 0.25);
    border-radius: 35px;
    margin: 30px 0 0 90px;
    
}

#margin_button{
    margin: 60px auto auto 70px;
}


	a,button{
		text-decoration: none;
		color: white;
		filter: drop-shadow(0px -1px 15px rgba(204, 141, 48, 0.25));
	}
 	button:active{
		box-shadow: inset 2px 2px 18px rgba(0, 0, 0, 0.64);
	}
 	button:hover{
		filter: drop-shadow(0px 0px 14px rgba(255, 217, 160, 0.25));
	}
	button:focus{
		text-decoration: dashed;
	}

.name{
    margin: 0 0 10px 0;
}
.date{
    margin: 0 0 10px 0 ;
}
.time{
    margin: 0 0 10px 0 ;
}
.vibor{
    margin: 0 0 10px 0;
}
 
label{
    color: white;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    margin: 0 0 0 20px;
  }
  input,select{
    border: #0057FF;
    border-radius: 10px;
    padding: 0 0 0 5px;
  }

  footer{
    background-color: #303030;
    padding: 0 0 20px 0;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
  }
  .container{
    color: white;
    margin:  0 200px 0 200px;
  }
  .footer-content{
    display: flex;
  }
  .social-icons{
    width: 80px;
    height: 100px;
  }
  
  .footer-column{
  margin: 30px auto 0 auto;	
  }
  .fot{
  margin: 0 20px 0 20px;
  }
  .footer-bottom{
    text-align: center;
  }